.sidebar ul .sidebar-link {
    padding: 10px 0;
    text-decoration: none;
    color: rgb(224, 224, 224);
  }
  
  .sidebar ul .sidebar-link:hover {
    background-color: #34495e;
  }
  
  .sidebar ul {
    display: flex;
    flex-direction: column;
  }