body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .admin-panel {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #656666;
    padding: 20px;
    color: white;
  }
  
  .sidebar h2 {
    text-align: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .main-content {
    flex: 1;
    background-color: #4f5050;
    padding: 20px;
  }
  
  .header {
    background-color: #2d404d;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .page-content {
    background-color: #4f5050;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  