.main-website-container {
    display: flex;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 231px;
    background-color: rgb(58 58 58);
    height: 1196px;
}


.main-website-box {
    
    width: 100%;
}

.item-box {
    padding: 11px;
    cursor: pointer;
}

.item-box:hover {
    font-size: 17px;
    padding: 11px;
    background-color: rgb(51, 50, 50);
}

.links-item-box {
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-between;
}

.icon {
    color: red;
    font-size: 25px;
    cursor: pointer;
}