.maincontainer {
    display: flex;
    position: absolute;
    top: 16%;
    min-width: -webkit-fill-available;
    justify-content: center;

}


.login-box {
    display: flex;
    /* flex-wrap: wrap; */
    flex: 0 2 792px;
    margin-inline: 2vw;
    position: relative;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 581px;
    box-shadow: -1px 1px 19px 12px rgba(191, 191, 191, 0.25);
    background: #373737;
    border-radius: 33px;
}


@media screen and (max-width: 900px) {
    .inleftbox {
      display: none;
    }

    .login-box {
        flex: 0 2 316px;
        height: auto;
    }
  }

.inleftbox {
    width: 83%;
    flex: 0 1 533px;
    height: 507px;
    box-shadow: 0px 0px 29px 3px #373737;
    margin-left: 7px;
    /* background: url("./../../assets/login.jfif"); */

}

.inleftbox img {
    width: inherit;
    height: inherit;
}




.inrightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66%;
    gap: 4vw;
    /* background-color: red; */
}

.inrightbox Inputbox {
    /* margin: 10px; */
}

.inputBox-acount-text {
    display: flex;
    gap: 56px;


}

p, Link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #FFF;
    margin: -10px;
}

.login-cencel {
    display: flex;
    position: absolute;
    font-size: 42px;
    color: red;
    margin-left: 54rem;
    height: 9%;
    width: 9%;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-color: white;
    box-shadow: 0px 0px 4px #FFFBD7;
    top: 0;
    right: 0;

}

.login-with-google {

    display: flex;
    width: 69%;
    font-size: 13px;
    border: groove;
    border-color: #c0c0f2;
    height: 26%;
}

.login-with-google button {
    font-weight: 700;
    /* display: flex; */
    flex: 1;
    font-size: 25px;
    color: #0003ac;
}